@tailwind base;
@tailwind components;
@tailwind utilities;


@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* Omnes Regular */
@font-face {
    font-family: 'Omnes';
    src: url('../fonts/omnes-regular_bigfontsite.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Omnes Bold */
@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Aplica Omnes a todo el software */
.body-landing {
    font-family: 'Omnes', Arial, Helvetica, sans-serif;
}

/* Estilo para el scrollbar */
::-webkit-scrollbar {
    /* Ancho del scrollbar vertical */
    width: 4%;
    height: 4%;

    /* Altura del scrollbar horizontal */
}

/* Estilo para el scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #004884;
    /* Color del scrollbar thumb */
    border-radius: 6px;
    /* Radio de borde del scrollbar thumb */
}

/* Estilo para el scrollbar track */
::-webkit-scrollbar-track {
    background-color: #E6EFFD;
    /* Color del scrollbar track */
}
